body { 
            display: flex; 
            justify-content: center;
            align-items: center; 
            min-height: 100vh; 
            margin: 0; 
            background-color: #f4f4f4; 
        }
        .signup-card { 
            background: rgb(255, 255, 255); 
            padding: 30px; 
            border-radius: 15px; 
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
            width: 350px; 
            text-align: center; 
        }
        h2 { 
            text-align: center; 
            margin-bottom: 25px; 
            color: #333;
            font-size: 1.8em;
        }
        
        
        .tab-group {
            display: flex;
            justify-content: center; 
            gap: 20px; 
            margin-bottom: 30px;
        }
        .tab {
            padding: 8px 25px;
            border: 1px solid #000;
            border-radius: 20px;
            cursor: pointer;
            font-size: 0.95em;
            background-color: white; 
        }
        .tab.active {
            background-color: #80d9fc;
            border-color: aqua; 
        }

        /* Form */
        .input-group {
            display: grid;
            grid-template-columns: 100px 1fr; 
            align-items: center;
            margin-bottom: 20px;
            text-align: left;
        }
        
        input[type="text"], input[type="password"] {
            width: 95%; 
            padding: 8px;
            border: 1px solid #000; 
            border-radius: 0; 
            box-sizing: border-box;
        }
        
        /* Submit Button */
        button {
            background-color: white;
            color: #333;
            padding: 8px 30px;
            border: 1px solid #000;
            border-radius: 20px; 
            cursor: pointer;
            margin-top: 15px;
            font-size: 1em;
        }
        button:hover {
            background-color: #e0e0e0;
            border-color: azure;
        }
        
        /* login Link */
        .login-text {
            margin-top: 30px;
            font-size: 0.9em;
            color: #666;
        }
        .login-text a {
            color: #333; 
            text-decoration: underline;
            font-weight: bold;
        }
    
    