/* Body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

/* Card Container */
.card-container {
    background:white;
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    height: 450px;
    text-align: center;
}

/* Heading */
h1 {
    color: #333;
    font-size: 1.8em;
    letter-spacing: 0.5px;
    text-align: center;
    padding-bottom: 20px;
}

/* Button Group */
.button-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Button */
.branch-button {
    background-color: #e0e0e0;
    color: #444;
    border: 1px solid #ccc;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.branch-button:hover {
    background-color: #d0d0d0;
    transform: translateY(-2px);
}
.dropdown-container {
    position: relative;
    width: 100%;
}
.dropdown-menu {
    display: none;
    padding:10px 0;
    border-radius: 8px;
    margin-top: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px;
    
    flex-direction: column;
    
}
.dropdown-menu.show {
    display: flex;
}
.year-link {
    color: #555;
    border: 1px solid #ccc;
    text-decoration: none;
    padding: 8px 15px; 
    display: block;
    text-align: center;
    transition: background-color 0.2s;
}

.year-link:hover {
    background-color: #e5e5e5;
    color: #333;
}

